body {
    background-color: rgb(223, 223, 223);
    margin: 0 auto;
}


/* inizio header */
#barra-logo {
    height: 100px;
    background-color:white;
    line-height: 100px;
}

#logo {
    height: 90px;
    vertical-align: middle;
}

.titolo {
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    font-weight: bolder;
    vertical-align: middle;
}
/* fine header */


/* inizio main */
.contenitore {
    background-color: white;
    height: 800px;
    width: 80%;
    margin: auto;
    margin-top: 120px;
    border-radius: 2%;
}

/* inizio bottoni */
.puls-task {
    height: 30px;
    width: 100px;
    display: inline-block;
    background-color: lightskyblue;
    border-radius: 5px;
    margin: 25px 0px 40px 80px;
    color: white;
}

.puls-section {
    height: 30px;
    width: 130px;
    display: inline-block;
    border-radius: 5px;
    background-color: white;
    color: grey;
}

#divisorio{
border-top: 2px solid rgb(223, 223, 223);
}

/* inizio liste e sottoliste */
nav {
    margin-left:0;
}

li {
    list-style: none;
}

/* style puntini mod */
.head-list {
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style-type: none;
}

.head-list::before{
    content: "\25BC";
}

.sub-list-true::before {
    content: "\2705";
    margin-right: 10px;
}

.sub-list-false::before {
    content: "\00274C" ;
    margin-right: 10px;
    
}